language: elixir
elixir:
  - 1.6.0
notifications:
  recipients:
    - ricn@rny.io
before_install:
  - sudo apt-get install libreoffice
after_script:
  - MIX_ENV=docs mix deps.get
  - MIX_ENV=docs mix inch.report
after_success:
  - "mix compile && mix coveralls.travis"
